html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  src: url(../src/fonts/Gilroy-Regular.woff2);
}
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  src: url(../src/fonts/Gilroy-Bold.woff2);
}
h1 {
  font-size: 3.28vw;
  font-weight: 700;
}
@media (max-width: 1444px) {
  h1 {
    font-size: 47px;
  }
}
@media (max-width: 720px) {
  h1 {
    font-size: 34px;
  }
}

h2 {
  font-size: 2.35vw;
  font-weight: 700;
  line-height: 1.2em;
}
@media (max-width: 1444px) {
  h2 {
    font-size: 34px;
  }
}

html, body {
  width: 100%;
}

body {
  font-family: Gilroy;
  font-size: 18px;
  color: #070707;
}

main {
  width: 100%;
}

.container {
  max-width: 65vw;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1020px) {
  .container {
    max-width: 1000px;
  }
}

.wrapper {
  position: relative;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  transition: right 1s ease;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}
.header-wrapper {
  padding: 2.21vw 0;
  border-bottom: 0.07vw #828282 solid;
}
.header-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-menu--li {
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.5em;
  color: #828282;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.header-menu--li:hover {
  opacity: 0.8;
}
.header-menu--li.active {
  color: #070707;
}
.header-hide {
  right: 0;
}
@media (max-width: 1444px) {
  .header-menu--li {
    font-size: 1em;
  }
}
@media (max-width: 1020px) {
  .header {
    position: fixed;
    width: 150px;
    height: 100vh;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: -15px 0 8px 8px rgba(255, 255, 255, 0.8);
  }
  .header-wrapper {
    display: flex;
    align-items: center;
    border-bottom: none;
    height: 100%;
    padding: 0;
  }
  .header-menu {
    flex-direction: column;
    align-items: flex-end;
  }
  .header-menu--li {
    padding: 10px 20px;
  }
  .header-menu--li:hover {
    opacity: 1;
  }
  .header-hide {
    right: -160px;
  }
}

.burger {
  position: fixed;
  top: 60px;
  right: 30px;
  z-index: 20;
  display: none;
}
.burger-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.burger-wrapper span {
  transition: transform 0.3s, width 0.3s, margin-bottom 0.3s ease;
  display: inline-block;
  width: 30px;
  height: 4px;
  border-radius: 4px;
  background-color: #070707;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.3);
}
.burger-wrapper span:first-child {
  margin-bottom: 12px;
}
.burger-wrapper span:nth-child(2) {
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 15px);
}
.burger-wrapper.active {
  gap: 0;
}
.burger-wrapper.active span:first-child {
  transform: rotate(45deg);
  margin-bottom: 0;
}
.burger-wrapper.active span:nth-child(2) {
  width: 0;
}
.burger-wrapper.active span:last-child {
  transform: rotate(-45deg);
  margin-top: -4px;
}
@media (max-width: 1020px) {
  .burger {
    display: block;
  }
}

.popup {
  position: relative;
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 100vh;
}
.popup.active {
  display: block;
  opacity: 1;
}
.popup-background {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.popup-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 30px 20px;
  margin: 200px auto;
  width: 20.8vw;
  background-color: #fff;
}
.popup-label {
  font-size: 1.25vw;
  line-height: 1.2em;
}
.popup-input {
  font-size: 1.25vw;
  line-height: 1.2em;
  padding: 2px 0;
  outline: none;
  border-bottom: 1px solid #828282;
}
.popup-input:focus {
  border-bottom: 1px solid #070707;
}
.popup-input:focus::-moz-placeholder {
  font-size: 0;
}
.popup-input:focus:-ms-input-placeholder {
  font-size: 0;
}
.popup-input:focus::placeholder {
  font-size: 0;
}
.popup-textarea {
  font-size: 1.25vw;
  line-height: 1.2em;
  outline: none;
  border: none;
  padding: 2px 0;
  resize: none;
  width: 100%;
  height: 2vw;
  border-bottom: 1px solid #828282;
  transition: all 0.3s ease;
}
.popup-textarea:focus {
  border-bottom: 1px solid #070707;
  height: 100px;
}
.popup-textarea:focus::-moz-placeholder {
  font-size: 0;
}
.popup-textarea:focus:-ms-input-placeholder {
  font-size: 0;
}
.popup-textarea:focus::placeholder {
  font-size: 0;
}
.popup-button {
  background-color: #070707;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  padding: 0.8vw 3vw;
  border-radius: 2vw;
  transition: all 0.3s ease;
  font-size: 1.25vw;
  line-height: 1.2em;
}
.popup-button:hover {
  margin: -5px 0 5px;
  box-shadow: 0px 14px 10px -5px rgba(34, 60, 80, 0.3);
}
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 2.4vw;
  height: 2.4vw;
  cursor: pointer;
}
.popup-close span {
  display: block;
  width: 2.4vw;
  height: 0.3vw;
  background-color: #070707;
  border-radius: 0.2vw;
}
.popup-close span:first-child {
  rotate: 45deg;
  margin-top: 50%;
}
.popup-close span:last-child {
  rotate: -45deg;
  margin-top: -15%;
}
@media (max-width: 1444px) {
  .popup-label {
    font-size: 1em;
  }
  .popup-button {
    font-size: 1em;
  }
  .popup-input {
    font-size: 1em;
  }
  .popup-textarea {
    font-size: 1em;
  }
}
@media (max-width: 1020px) {
  .popup-wrapper {
    width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    gap: 20px;
  }
  .popup-textarea {
    height: 30px;
  }
  .popup-button {
    padding: 12px 30px;
    border-radius: 2vw;
    border-radius: 25px;
  }
  .popup-button:hover {
    margin: 0;
    box-shadow: none;
  }
  .popup-close {
    width: 30px;
    height: 30px;
  }
  .popup-close span {
    width: 30px;
    height: 3px;
    border-radius: 3px;
  }
  .popup-close span:last-child {
    margin-top: -10%;
  }
}

.mainscreen {
  height: 100vh;
  padding-top: 6.3vw;
  box-sizing: border-box;
}
.mainscreen-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.mainscreen-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 2.77vw 0 2vw;
  font-size: 1.25vw;
}
.mainscreen-info--name {
  flex: 1 1 auto;
  line-height: 1.1em;
}
.mainscreen-info--bio {
  flex: 1 1 auto;
  line-height: 1.5em;
}
.mainscreen-info--language {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 700;
}
.mainscreen-info--container {
  rotate: -90deg;
  padding-top: 50px;
}
.mainscreen-info--button {
  color: #828282;
  padding: 0 5px;
}
.mainscreen-info--button:not(:last-child) {
  border-right: 2px solid #070707;
}
.mainscreen-info--button.active {
  color: #070707;
}
.mainscreen-photo {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}
.mainscreen-photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1444px) {
  .mainscreen-info {
    font-size: 1em;
  }
}
@media (max-width: 1020px) {
  .mainscreen {
    padding-top: 65px;
  }
  .mainscreen-info {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
  }
  .mainscreen-info--language {
    display: none;
  }
}
@media (max-width: 720px) {
  .mainscreen-photo img {
    height: 100%;
  }
}

.about {
  background-color: #F6F6F6;
  padding: 110px 0;
  box-sizing: border-box;
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 40vw;
}
.about-title {
  margin-bottom: 20px;
}
.about-paragraph {
  font-size: 1.25vw;
  line-height: 1.2em;
  margin-bottom: 30px;
}
@media (max-width: 1444px) {
  .about-paragraph {
    font-size: 1em;
  }
}
@media (max-width: 1020px) {
  .about {
    padding: 80px 0;
  }
  .about-wrapper {
    max-width: 400px;
  }
}

.skills {
  padding: 90px 0 110px;
}
.skills-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.skills-title {
  margin-bottom: 60px;
}
.skills-text {
  font-size: 1.25vw;
  line-height: 1.2em;
  margin-bottom: 60px;
}
.skills-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 20px;
  margin: 0 -1.25vw;
}
.skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 19%;
  margin: 0 auto;
}
.skills-item--img {
  width: 60%;
  height: 7vw;
  margin-bottom: 20px;
}
.skills-item--img.bordered {
  border-radius: 5px;
  overflow: hidden;
}
.skills-item--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.skills-item--title {
  font-size: 1vw;
  font-weight: 700;
  line-height: 1.2em;
  color: #828282;
  margin: auto 0 40px;
}
.skills-item--grade {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skills-item--star {
  flex: 1 1 20%;
  height: 1.4vw;
  background: no-repeat center url(/src/skills/icon/star.svg);
  background-size: contain;
}
.skills-item--star.filled {
  background: no-repeat center url(/src/skills/icon/star-fill.svg);
  background-size: contain;
}
@media (max-width: 1444px) {
  .skills-text {
    font-size: 1em;
  }
  .skills-item--title {
    font-size: 0.78em;
  }
}
@media (max-width: 1020px) {
  .skills-content {
    margin: 0 -15px;
  }
  .skills-item {
    width: 180px;
    flex: 0 0 30%;
  }
  .skills-item--img {
    height: 110px;
  }
  .skills-item--star {
    height: 24px;
  }
}
@media (max-width: 720px) {
  .skills-item {
    flex: 0 0 40%;
  }
}
@media (max-width: 520px) {
  .skills-item {
    flex: 0 0 auto;
  }
}

.portfolio {
  padding: 110px 0 90px;
  background-color: #F6F6F6;
}
.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-title {
  margin-bottom: 50px;
}
.portfolio-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  margin-bottom: 45px;
  height: 27.3vw;
}
.portfolio-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: margin-left 0.6s, width 0.6s ease;
}
.portfolio-img img:hover {
  width: 106%;
  margin-left: -3%;
}
.portfolio-link {
  display: inline-block;
  font-size: 1.25vw;
  line-height: 1.2em;
  text-decoration: underline;
  transition: all 0.3s ease;
}
.portfolio-link:not(:last-child) {
  margin-bottom: 90px;
}
.portfolio-link:hover {
  opacity: 0.8;
}
@media (max-width: 1444px) {
  .portfolio-link {
    font-size: 1em;
  }
}
@media (max-width: 1020px) {
  .portfolio {
    padding: 80px 0 80px;
  }
  .portfolio-img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 30px;
  }
  .portfolio-img img:hover {
    width: 100%;
    margin-left: 0;
  }
  .portfolio-link:not(:last-child) {
    margin-bottom: 50px;
  }
}

.footer {
  padding: 110px 0;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-title {
  margin-bottom: 1.4vw;
}
.footer-text {
  font-size: 1.25vw;
  line-height: 1.2em;
  margin-bottom: 1.4vw;
}
.footer-btn {
  display: inline-block;
  padding: 0.7vw 2.1vw;
  border-radius: 1.7vw;
  background-color: #070707;
  color: #fff;
  font-size: 1.25vw;
  line-height: 1.2em;
  margin-bottom: 80px;
  transition: all 0.5s ease;
  box-shadow: 0px 14px 10px 0px rgba(34, 60, 80, 0);
}
.footer-btn:hover {
  margin: -5px 0 85px;
  box-shadow: 0px 14px 10px -5px rgba(34, 60, 80, 0.3);
}
.footer-social {
  width: 100%;
  height: 2.8vw;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  gap: 4.2vw;
}
.footer-social--link {
  display: block;
}
.footer-social--link:first-child {
  margin-left: auto;
}
.footer-social--link:last-child {
  margin-right: auto;
}
.footer-social--img {
  height: 100%;
  transition: all 0.3s ease;
}
.footer-social--img:hover {
  height: 110%;
}
.footer-subtitle {
  font-size: 1vw;
  line-height: 1.2em;
  color: #828282;
}
@media (max-width: 1444px) {
  .footer-text, .footer-btn {
    font-size: 1em;
  }
  .footer-subtitle {
    font-size: 0.78em;
  }
}
@media (max-width: 1020px) {
  .footer {
    padding: 80px 0;
  }
  .footer-title {
    margin-bottom: 25px;
  }
  .footer-text {
    margin-bottom: 30px;
  }
  .footer-btn {
    max-width: 320px;
    border-radius: 25px;
    padding: 12px 20px;
    margin-bottom: 40px;
  }
  .footer-btn:hover {
    margin: 0 0 40px;
    box-shadow: none;
  }
  .footer-social {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 50px;
  }
  .footer-social--img {
    width: 35px;
  }
  .footer-social--img:hover {
    height: 100%;
  }
}
@media (max-width: 520px) {
  .footer-social {
    gap: 30px;
  }
}