html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  src: url(../src/fonts/Gilroy-Regular.woff2);
}
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  src: url(../src/fonts/Gilroy-Bold.woff2);
}
h1 {
  font-size: 3.28vw;
  font-weight: 700;
}

h2 {
  font-size: 2.35vw;
  font-weight: 700;
  line-height: 1.2em;
}

html, body {
  width: 100%;
}

body {
  font-family: Gilroy;
  font-size: 10px;
  color: #070707;
}

main {
  width: 100%;
}

.container {
  width: 65vw;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  position: relative;
}

.header {
  width: 100%;
  position: absolute;
  background-color: #fff;
}
.header-wrapper {
  padding: 2.21vw 0;
  border-bottom: 0.07vw #828282 solid;
}
.header-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-menu--li {
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.5em;
  color: #828282;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.header-menu--li:hover {
  opacity: 0.8;
}
.header-menu--li.active {
  color: #070707;
}

.mainscreen {
  height: 100vh;
  padding-top: 6.3vw;
  box-sizing: border-box;
}
.mainscreen-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.mainscreen-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 2.77vw 0 2vw;
}
.mainscreen-info--name {
  flex: 1 1 auto;
  line-height: 1.1em;
}
.mainscreen-info--bio {
  flex: 1 1 auto;
  font-size: 1.25vw;
  line-height: 1.5em;
}
.mainscreen-info--language {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.25vw;
  font-weight: 700;
}
.mainscreen-info--container {
  rotate: -90deg;
  padding-top: 50px;
}
.mainscreen-info--button {
  color: #828282;
  padding: 0 5px;
}
.mainscreen-info--button:not(:last-child) {
  border-right: 2px solid #070707;
}
.mainscreen-info--button.active {
  color: #070707;
}
.mainscreen-photo {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}
.mainscreen-photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about {
  background-color: #F6F6F6;
  padding: 110px 0;
  box-sizing: border-box;
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 40vw;
}
.about-title {
  margin-bottom: 20px;
}
.about-paragraph {
  font-size: 1.25vw;
  line-height: 1.2em;
  margin-bottom: 30px;
}

.skills {
  padding: 90px 0 110px;
}
.skills-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.skills-title {
  margin-bottom: 60px;
}
.skills-text {
  font-size: 1.25vw;
  line-height: 1.2em;
  margin-bottom: 60px;
}
.skills-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 20px;
  margin: 0 -1.25vw;
}
.skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 19%;
  margin: 0 auto;
}
.skills-item--img {
  width: 60%;
  height: 7vw;
  margin-bottom: 20px;
}
.skills-item--img.bordered {
  border-radius: 5px;
  overflow: hidden;
}
.skills-item--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.skills-item--title {
  font-size: 1vw;
  font-weight: 700;
  line-height: 1.2em;
  color: #828282;
  margin: auto 0 40px;
}
.skills-item--grade {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skills-item--star {
  flex: 1 1 20%;
  height: 1.4vw;
  background: no-repeat center url(/src/skills/icon/star.svg);
  background-size: contain;
}
.skills-item--star.filled {
  background: no-repeat center url(/src/skills/icon/star-fill.svg);
  background-size: contain;
}

.portfolio {
  padding: 110px 0 90px;
  background-color: #F6F6F6;
}
.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-title {
  margin-bottom: 50px;
}
.portfolio-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  margin-bottom: 45px;
  height: 27.3vw;
}
.portfolio-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: margin-left 0.6s, width 0.6s ease;
}
.portfolio-img img:hover {
  width: 106%;
  margin-left: -3%;
}
.portfolio-link {
  display: inline-block;
  font-size: 1.25vw;
  line-height: 1.2em;
  text-decoration: underline;
  transition: all 0.3s ease;
}
.portfolio-link:hover {
  opacity: 0.8;
}

.footer {
  padding: 110px 0;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-title {
  margin-bottom: 1.4vw;
}
.footer-text {
  font-size: 1.25vw;
  line-height: 1.2em;
  margin-bottom: 1.4vw;
}
.footer-btn {
  display: inline-block;
  padding: 0.7vw 2.1vw;
  border-radius: 1.7vw;
  background-color: #070707;
  color: #fff;
  font-size: 1.25vw;
  line-height: 1.2em;
  margin-bottom: 80px;
  transition: all 0.5s ease;
  box-shadow: 0px 14px 10px 0px rgba(34, 60, 80, 0);
}
.footer-btn:hover {
  margin: -5px 0 85px;
  box-shadow: 0px 14px 10px -5px rgba(34, 60, 80, 0.3);
}
.footer-social {
  width: 100%;
  height: 2.8vw;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  gap: 4.2vw;
}
.footer-social--link {
  display: block;
}
.footer-social--link:first-child {
  margin-left: auto;
}
.footer-social--link:last-child {
  margin-right: auto;
}
.footer-social--img {
  height: 100%;
  transition: all 0.3s ease;
}
.footer-social--img:hover {
  height: 110%;
}