// Null styles ========================
@import "_null.scss";

// Fonts ==============================
@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    src: url(../src/fonts/Gilroy-Regular.woff2);
}
@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    src: url(../src/fonts/Gilroy-Bold.woff2);
}

h1 {
    font-size: 3.28vw;
    font-weight: 700;
}

// Main styles ========================
html, body {
    width: 100%;
}
body {
    font-family: Gilroy;
    font-size: 10px;
    color: #070707;

}
main {
    width: 100%;
}
.container {
    width: 65vw;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper {
    position: relative;
}


// Header =============================
.header {
    width: 100%;
    position: fixed;
    background-color: #fff;

    &-wrapper {
        padding: 2.21vw 0;
        border-bottom: 0.07vw #828282 solid;
    }
    &-menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &--li {
            font-size: 1.25vw;
            font-weight: 700;
            line-height: 1.5em;
            color: #828282;
            opacity: 1;
            transition: opacity .3s ease;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
            &.active {
                color: #070707;
            }
        }
    }
}

// Mainscreen =========================
.mainscreen {
    height: 100vh;
    padding-top: 6.3vw;
    box-sizing: border-box;

    &-wrapper {
        display: flex;
        flex-direction: column;
    }
    &-info {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 2.77vw 0 2vw;
        &--name {
            flex: 1 1 auto;
            line-height: 1.1em;
        }
        &--bio {
            flex: 1 1 auto;
            font-size: 1.25vw;
            line-height: 1.5em;
        }
        &--language {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            align-items: flex-end;

            font-size: 1.25vw;
            font-weight: 700;
        }
        &--container {
            rotate: -90deg;
            padding-top: 50px;
        }
        &--button {
            color: #828282;
            padding: 0 5px;
            &:not(:last-child) {
                border-right: 2px solid #070707;
            }
            &.active {
                color: #070707;
            }
        }
    }
    &-photo {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;

        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            // height: 100%;
            object-fit: cover;
        }
    }
}