// Null styles ========================
@import "_null.scss";

// Fonts ==============================
@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    src: url(../src/fonts/Gilroy-Regular.woff2);
}
@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    src: url(../src/fonts/Gilroy-Bold.woff2);
}

h1 {
    font-size: 3.28vw;
    font-weight: 700;
    @media (max-width: 1444px) {
        font-size: 47px;
    }
    @media (max-width: 720px) {
        font-size: 34px;
    }
}

h2 {
    font-size: 2.35vw;
    font-weight: 700;
    line-height: 1.2em;
    @media (max-width: 1444px) {
        font-size: 34px;
    }

}

// Main styles ========================
html, body {
    width: 100%;
}
body {
    font-family: Gilroy;
    font-size: 18px;
    color: #070707;

}
main {
    width: 100%;
}
.container {
    max-width: 65vw;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width:1020px)  {
        max-width: 1000px;
    }
}
.wrapper {
    position: relative;
}


// Header =============================
.header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    transition: right 1s ease;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;

    &-wrapper {
        padding: 2.21vw 0;
        border-bottom: 0.07vw #828282 solid;
    }
    &-menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &--li {
            font-size: 1.25vw;
            font-weight: 700;
            line-height: 1.5em;
            color: #828282;
            opacity: 1;
            transition: opacity .3s, color .3s ease;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
            &.active {
                color: #070707;
            }
        }
    }
    &-hide {
        right: 0;
    }
    @media (max-width: 1444px) {
        &-menu--li {
            font-size: 1em;
        }
    }
    @media (max-width: 1020px) {
        position: fixed;
        width: 150px;
        height: 100vh;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: -15px 0 8px 8px rgba(255, 255, 255, 0.8);
        &-wrapper {
            display: flex;
            align-items: center;
            border-bottom: none;
            height: 100%;
            padding: 0;
        }
        &-menu {

            flex-direction: column;
            align-items: flex-end;
            &--li {
                padding: 10px 20px;
                &:hover {
                    opacity: 1;
                }
            }
        }
        &-hide {
            right: -160px;
        }
    }
}

// Burger =============================
.burger {
    position: fixed;
    top: 60px;
    right: 30px;
    z-index: 20;
    display: none;
    &-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        
        & span {
            transition: transform .3s, width .3s, margin-bottom .3s ease;
            display: inline-block;
            width: 30px;
            height: 4px;
            border-radius: 4px;
            background-color: #070707;
            box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.3);
            &:first-child {
                margin-bottom: 12px;
            }
            &:nth-child(2) {
                position: absolute;
                top: calc(50% - 2px);
                left: calc(50% - 15px);
            }
        }
        &.active {
            gap: 0;
            & span {
                &:first-child {
                    transform: rotate(45deg);
                    margin-bottom: 0;
                }
                &:nth-child(2) {
                    width: 0;
                }
                &:last-child {
                    transform: rotate(-45deg);
                    margin-top: -4px;
                }
            }
        }
    }
    @media (max-width:1020px) {
        display: block;
    }
}

// Popup ==============================
.popup {
    position: relative;
    display: none;
    opacity: 0;
    &.active {
        display:block;
        opacity: 1;     
    }
    
    position: fixed;
    z-index: 30;
    width: 100%;
    height: 100vh;
    
    &-background {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
    &-wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        padding: 30px 20px;
        margin: 200px auto;
        width: 20.8vw;
        background-color: #fff;
    }

    &-label {
        font-size: 1.25vw;
        line-height: 1.2em;
    }

    &-input {
        font-size: 1.25vw;
        line-height: 1.2em;
        padding: 2px 0;
        outline: none;
        border-bottom: 1px solid #828282;
        &:focus{
            border-bottom: 1px solid #070707;
            &::placeholder {
            font-size: 0;
            }
        }
    }

    &-textarea {
        font-size: 1.25vw;
        line-height: 1.2em;
        outline: none;
        border: none;
        padding: 2px 0;
        resize: none;
        width: 100%;
        height: 2vw;
        border-bottom: 1px solid #828282;
        transition: all .3s ease;
        &:focus{
            border-bottom: 1px solid #070707;
            height: 100px;
            &::placeholder {
            font-size: 0;
            }
        }
    }

    &-button {
        background-color: #070707;
        width: fit-content;
        color: #fff;
        padding: 0.8vw 3vw;
        border-radius: 2vw;
        transition: all .3s ease;
        font-size: 1.25vw;
        line-height: 1.2em;
        &:hover {
            margin: -5px 0 5px;
            box-shadow: 0px 14px 10px -5px rgba(34, 60, 80, 0.3);
        }
    }
    &-close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 2.4vw;
        height: 2.4vw;
        cursor: pointer;
        & span {
            display: block;
            width: 2.4vw;
            height: 0.3vw;
            background-color: #070707;
            border-radius: 0.2vw;
            &:first-child {
                rotate: 45deg;
                margin-top: 50%;
            }
            &:last-child {
                rotate: -45deg;
                margin-top: -15%;
            }
        }
    }
    @media (max-width: 1444px) {
        &-label {
            font-size: 1em;
        }
        &-button {
            font-size: 1em;
        }
        &-input {
            font-size: 1em;
        }
        &-textarea {
            font-size: 1em;
        }
    }
    @media (max-width: 1020px) {
        &-wrapper {
            width: 300px;
            padding: 20px 10px;
            box-sizing: border-box;
            gap: 20px;
        }
        &-textarea {
            height: 30px;
        }
        &-button {
            padding: 12px 30px;
            border-radius: 2vw;
            border-radius: 25px;
            &:hover {
                margin: 0;
                box-shadow: none;
            }
        }
        &-close {
            width: 30px;
            height: 30px;
            span {
                width: 30px;
                height: 3px;
                border-radius: 3px;
            &:last-child {
                margin-top: -10%;
            }
            }
        }
    }
}

// Mainscreen =========================
.mainscreen {
    height: 100vh;
    padding-top: 6.3vw;
    box-sizing: border-box;

    &-wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    &-info {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 2.77vw 0 2vw;
        
        font-size: 1.25vw;
        &--name {
            flex: 1 1 auto;
            line-height: 1.1em;
        }
        &--bio {
            flex: 1 1 auto;
            line-height: 1.5em;
        }
        &--language {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            align-items: flex-end;

            font-weight: 700;
        }
        &--container {
            rotate: -90deg;
            padding-top: 50px;
        }
        &--button {
            color: #828282;
            padding: 0 5px;
            &:not(:last-child) {
                border-right: 2px solid #070707;
            }
            &.active {
                color: #070707;
            }
        }
    }
    &-photo {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;

        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            // height: 100%;
            object-fit: cover;
        }
    }
    @media (max-width: 1444px) {
        &-info{
            font-size: 1em;
        }
    }
    @media (max-width: 1020px) {
        padding-top: 65px;
        &-info {
            flex-direction: column;
            align-items: flex-start;
            padding-top: 0;
            &--language {
                display: none;
            }
        }
    }
    @media (max-width: 720px) {
        &-photo {
            & img {
                height: 100%;
            }
        }
    }
}

// About ==============================
.about {
    background-color: #F6F6F6;
    padding: 110px 0;
    box-sizing: border-box;

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 40vw;
    }
    &-title {
        margin-bottom: 20px;
    }
    &-paragraph {
        font-size: 1.25vw;
        line-height: 1.2em;
        margin-bottom: 30px;
    }
    @media (max-width: 1444px) {
        &-paragraph{
            font-size: 1em;
        }
    }
    @media (max-width: 1020px) {
        padding: 80px 0;
        &-wrapper {
            max-width: 400px;
        }
    }
}

// Skills =============================
.skills {
    padding: 90px 0 110px;

    &-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &-title {
        margin-bottom: 60px;
    }
    &-text {
        font-size: 1.25vw;
        line-height: 1.2em;
        margin-bottom: 60px;
    }
    &-content {
        display: flex;
        // flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px 20px;
        margin: 0 -1.25vw;
    }
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 0 19%;
        margin: 0 auto;
        &--img {
            width: 60%;
            height: 7vw;
            margin-bottom: 20px;
            &.bordered {
                border-radius: 5px;
                overflow: hidden;
            }
            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &--title {
            font-size: 1vw;
            font-weight: 700;
            line-height: 1.2em;
            color: #828282;
            margin: auto 0 40px;
        }
        &--grade {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &--star {
            flex: 1 1 20%;
            height: 1.4vw;
            background: no-repeat center url(/src/skills/icon/star.svg);
            background-size: contain;
            &.filled {
                background: no-repeat center url(/src/skills/icon/star-fill.svg);
                background-size: contain;
            }
        }
    }
    @media (max-width: 1444px) {
        &-text {
            font-size: 1em;
        }
        &-item--title{
            font-size: 0.78em;
        }
    }
    @media (max-width: 1020px) {
        &-content {
            margin: 0 -15px;
        }
        &-item {
            width: 180px;
            flex: 0 0 30%;
            &--img {
                height: 110px;
            }
            &--star {
                height: 24px;
            }
        }
    }
    @media (max-width: 720px) {
        &-item {
            flex: 0 0 40%;
        }
    }
    @media (max-width: 520px) {
        &-item {
            flex: 0 0 auto;
        }
    }
}

// Portfolio ==========================
.portfolio {
    padding: 110px 0 90px;
    background-color: #F6F6F6;
    &-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-title {
        margin-bottom: 50px;
    }
    &-img {        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow: hidden;
        margin-bottom: 45px;
        height: 27.3vw;
        
        & img {
            width: 100%;
            object-fit: cover;
            transition: margin-left .6s, width .6s ease;
            &:hover {
                width: 106%;
                margin-left: -3%;
            }
        }
    }
    &-link {
        display: inline-block;
        font-size: 1.25vw;
        line-height: 1.2em;
        text-decoration: underline;
        transition: all .3s ease;
        &:not(:last-child) {
            margin-bottom: 90px;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    @media (max-width: 1444px) {
        &-link{
            font-size: 1em;
        }
    }
    @media (max-width: 1020px) {
        padding: 80px 0 80px;
        &-img {
            height: fit-content;
            margin-bottom: 30px;
            & img:hover {
                width: 100%;
                margin-left: 0;
            }
        }
        &-link:not(:last-child) {
            margin-bottom: 50px;
        }
    }
}

// Footer =============================
.footer {
    padding: 110px 0;
    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &-title {
        margin-bottom: 1.4vw;
    }
    &-text {
        font-size: 1.25vw;
        line-height: 1.2em;
        margin-bottom: 1.4vw;
    }
    &-btn {
        display: inline-block;
        padding: 0.7vw 2.1vw;
        border-radius: 1.7vw;
        background-color: #070707;
        color: #fff;
        font-size: 1.25vw;
        line-height: 1.2em;
        margin-bottom: 80px;
        transition: all .5s ease;
        box-shadow: 0px 14px 10px 0px rgba(34, 60, 80, 0);
        
        &:hover {
            margin: -5px 0 85px;
            box-shadow: 0px 14px 10px -5px rgba(34, 60, 80, 0.3);
        }
    }
    &-social {
        width: 100%;
        height: 2.8vw;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        gap: 4.2vw;

        &--link {
            display: block;
            &:first-child {
                margin-left: auto;
            }
            &:last-child {
                margin-right: auto;
            }
        }
        &--img {
            height: 100%;
            transition: all 0.3s ease;
            &:hover {
                height: 110%;
            }
        }
    }
    &-subtitle {
        font-size: 1vw;
        line-height: 1.2em;
        color: #828282;
    }
    @media (max-width: 1444px) {
        &-text, &-btn {
            font-size: 1em;
        }
        &-subtitle{
            font-size: 0.78em;
        }
    }
    @media (max-width: 1020px) {
        padding: 80px 0;
        &-title {
            margin-bottom: 25px;            
        }
        &-text {
            margin-bottom: 30px;
        }
        &-btn {
            max-width: 320px;
            border-radius: 25px;
            padding: 12px 20px;
            margin-bottom: 40px;
            &:hover {
                margin: 0 0 40px;
                box-shadow: none;
            }
        }
        &-social {
            height: fit-content;
            gap: 50px;
            &--img {
                width: 35px;
                &:hover {
                    height: 100%;
                }
            }
        }
    }
    @media (max-width: 520px) {
        &-social {
            gap: 30px;
        }
    }
}